## 제어문

### if문

In [15]:
# 관계 연산자 
x = 3
y = 4

In [5]:
x == y

False

In [6]:
x !=y

True

In [17]:
x >y

False

In [16]:
x<y

True

In [18]:
x>=y

False

In [19]:
x<=y

True

In [29]:
점수 =90 
if 점수 >=60:
    print("합격입니다.")
else:
    print("불합격입니다.")

합격입니다.

In [ ]:
나이 =int(input())
if 나이 >=18:
    print("영화를 볼수있습니다")
else:
    print("이영화를 볼수없습니다")

In [ ]:
나이 = int(input())
키= int(input())
if 나이 >=10 and 키>=165:
    print("타라")
else:
    print("타지마")

In [ ]:
# 양수, 음수, 0 판독기

In [8]:
숫자 = int(input("정수를입력하시오: "))
if 숫자>0:
    print("양수")
elif 숫자 ==0:
    print("0임")
else:
    print("음수")

0임

In [9]:
아이디 = "황재선"

In [ ]:
아이딩 =input("아이디를 입력하시오: ")
if 아이디==아이딩:
    print("환영합니다")
else:
    print("아이디를 찾을수 없습니다")

### 반 복 문

In [ ]:
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")
print("환영합니다")

In [6]:
for i in range(10):
    print("환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [2]:
친구목록 ={'a','b','c'}
for i in 친구목록:
    print("아아아아아아앙아아아악",i,"야")

아아아아아아앙아아아악 c 야
아아아아아아앙아아아악 a 야
아아아아아아앙아아아악 b 야

In [10]:
과일 ={'a','b','c'}
for i in 과일:
    print("아아아아아아앙아아아악",i,"야")

아아아아아아앙아아아악 c 야
아아아아아아앙아아아악 a 야
아아아아아아앙아아아악 b 야

In [11]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(9*i)

9
18
27
36
45
54
63
72
81

In [12]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [13]:
입력 = int(input("정수를입력하시오"))
팩토 = 1
for i in range(1,정수+1):
    팩토리얼 = 팩토리얼 *i
    print(팩토리얼)

NameError: name '정수' is not defined