# 파이썬 데이터 분석 2주차 
## 파이썬 기본1

- 심심하다 피자가 먹고싶다
- 빨리 하자

1. 파이썬 설치
2. 파이썬 기본1

In [1]:
print("안녕하세요")

안녕하세요

In [10]:
print("황재선.")

황재선.

In [6]:
2/5

0.4

In [9]:
prin("")

NameError: name 'prin' is not defined

In [11]:
print("강아지")

강아지

In [12]:
print('강아지')

강아지

In [13]:
print("I'm a boy, you are girl")

I'm a boy, you are girl

In [14]:
print("더하기의 신", 2345+6789,"입니다.")

더하기의 신 9134 입니다.

In [15]:
print(1+6)

7

In [16]:
print("1"+"6")

16

In [17]:
print("반가워요")

반가워요

In [22]:
print("반가워요","반가워요","반가워요")

반가워요 반가워요 반가워요

In [28]:
print(" 반가워요" *3)

 반가워요 반가워요 반가워요

In [29]:
print("안녕하세요? 여러분")

안녕하세요? 여러분

In [34]:
print("9*8은",9*8,"입니다.")

9*8은 72 입니다.

In [35]:
x=100

In [36]:
x

100

In [37]:
x+56

156

In [38]:
y=200

In [39]:
y

200

In [40]:
x + y

300

In [41]:
더하기 = x+y

In [42]:
더하기

300

In [44]:
z=400

In [45]:
sum = x+y+z

In [46]:
sum

700

In [53]:
이름= "황재선"
학교= "선부고"

In [54]:
이름

'황재선'

In [50]:
학교

'선부고'

In [55]:
print(학교)

선부고

In [56]:
print(이름)

황재선

In [57]:
print("제이름은",이름,"이고, 제 학교는",학교,"입니다.")

제이름은 황재선 이고, 제 학교는 선부고 입니다.

In [64]:
score =10

In [66]:
score =score +1

In [67]:
score

11